<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.package.dao.UserDao">
  <resultMap id="BaseResultMap" type="com.package.model.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="uesr_name" jdbcType="VARCHAR" property="uesrName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_age" jdbcType="INTEGER" property="userAge" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, uesr_name, user_password, user_age, user_phone, user_address
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from users
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from users
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.package.model.User">
    insert into users (user_id, uesr_name, user_password, 
      user_age, user_phone, user_address
      )
    values (#{userId,jdbcType=INTEGER}, #{uesrName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userAge,jdbcType=INTEGER}, #{userPhone,jdbcType=VARCHAR}, #{userAddress,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.package.model.User">
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="uesrName != null">
        uesr_name,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userAge != null">
        user_age,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="userAddress != null">
        user_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="uesrName != null">
        #{uesrName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userAge != null">
        #{userAge,jdbcType=INTEGER},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null">
        #{userAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.package.model.User">
    update users
    <set>
      <if test="uesrName != null">
        uesr_name = #{uesrName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userAge != null">
        user_age = #{userAge,jdbcType=INTEGER},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null">
        user_address = #{userAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.package.model.User">
    update users
    set uesr_name = #{uesrName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_age = #{userAge,jdbcType=INTEGER},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_address = #{userAddress,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>