<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winson.csms.dao.CSMSDao">

	<select id="getAllUser"  resultMap="UserMap">
		select u.*,urr.role_id as role_id,utr.type_id as type_id
		from user u
		left join user_role_rel urr
		on u.id=urr.user_id
		left join user_type_rel utr
		on u.id=utr.user_id
	</select>
	<select id="getUserByNumber" parameterType="User"  resultMap="UserMap">
		select *
		from
		user
		where number=#{number}
	</select>
	<select id="getAllRoles"  resultMap="RoleMap">
		select *
		from
		role
	</select>
	<select id="getRoleById" parameterType="Integer"  resultMap="RoleMap">
		select *
		from
		role
		where id=#{0}
	</select>
	
	<select id="getTypeById" parameterType="Integer" resultMap="TypeMap">
		select *
		from
		type
		where id=#{0}
	</select>
	<select id="getAllTypes"  resultMap="TypeMap">
		select *
		from
		type
	</select>
	
	<insert id="addOneUser" parameterType="User">
		insert into
		user
		(
			name,
			sex,
			age,
			email,
			address,
			number,
			phone
		)
		values (
			#{name},
			#{sex},
			#{age},
			#{email},
			#{address},
			#{number},
			#{phone}
		)
	</insert>
	<update id="updateUser" parameterType="User">
		UPDATE
		user
		<set>
			name=#{name},
			sex=#{sex},
			age=#{age},
			email=#{email},
			address=#{address},
			phone=#{phone}
		</set>
		<where>
			number=#{number}
		</where>
    </update>
	
	<delete id="deleteUser" parameterType="User">
		delete from
		user
		where number=#{number}
	</delete>

	<resultMap type="User" id="UserMap">
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="TINYINT" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="number" property="number" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<!-- <association property="userRole"
			column="{id=role_id}"
			select="getRoleById" />-->
		<association property="userType"
			column="{id = type_id}" select="getTypeById" /> 
	</resultMap>
	
	
	<resultMap type="Type" id="TypeMap">
		<result column="id" property="rateNum" jdbcType="INTEGER" />
		<result column="type_name" property="typeName" jdbcType="VARCHAR" />
		<result column="type_desc" property="typeDesc" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap type="Role" id="RoleMap">
		<result column="id" property="rateNum" jdbcType="INTEGER" />
		<result column="role_name" property="roleName" jdbcType="VARCHAR" />
		<result column="role_desc" property="roleDesc" jdbcType="VARCHAR" />
	</resultMap>

</mapper>